/* md */
@media (min-width: 992px) /* Breite beträgt mindestens 992px */ and (max-width: 1199px) {


}


/* sm */
@media (min-width: 768px) /* Breite beträgt mindestens 768px */ and (max-width: 991px) {

}


/* xs */


@media only screen and (max-width: 400px) {
  .starter h1 {
    font-weight: 300;
    font-size: 45px;
    line-height: 50px;
    text-align: left;
    padding-bottom: 10vh;
    padding-left: 50px;
    padding-right: 100px;
  }
}
